body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
  }
  
  .forms-container {
    display: flex;
    justify-content: space-between;
    max-width: 80%;
    margin: 0 auto;
}
  .container {
    max-width: 40%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 7px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3), -5px -5px 10px rgba(255, 255, 255, 0.3);
}
  .assist {
    max-width: 40%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 7px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3), -5px -5px 10px rgba(255, 255, 255, 0.3);
  }

  h1 {
    color: #004f92;
    text-align: center;
    margin-top: 30px; 
  }

  h3 {
    color: #004f92;
    text-align: center;
    /* margin-top: 37px;  */
  }
  
  form {
    border: 2px solid #004f92;
    padding: 20px;
    background-color: #fff;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: #004f92;
  }
  
  input[type="text"],
  input[type="number"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 95%;
    margin-bottom: 15px;
  }
  
  input[type="submit"] {
    background-color: #004f92;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  input[type="submit"]:hover {
    background-color: #00356b;
  }
  
  .result {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
    border: 2px solid #004f92;
    color: #004f92;
    font-size: 18px;
    border-radius: 5px;
    /* width: 90%; */
    text-align: center;
  }
  
  .result p {
    margin: 0;
  }
  



  /* styling of Nav Bar */
  nav {
    background-color: #1e3155;
    padding: 10px 0;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

li {
    margin: 0 10px;
}

/* Styling the links in the navigation bar */
a {
    text-decoration: none;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
}

a:hover {
    background-color: #555;
}