<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

</head>
<body>
    <nav>
        <ul>
            <li><a href="#menu">Menu</a></li>
            <li><a href="#home">Home</a></li>
            <li><a href="https://exchangerate.host/#/docs">API Data</a></li>
            <li><a href="#services">Services</a></li>
            <li><a href="https://www.fxstreet.com/rates-charts/rates">Live Rates</a></li>
        </ul>
    </nav>

    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body> 
</html>