{% extends 'base.html' %}

{% block title %}Currency and Crypto Converter{% endblock %}

{% block content %}

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="flash-messages">
            {% for message in messages %}
                <div class="flash-message">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}

<h1>Currency Converter</h1>
<h3>Check live foreign currency exchange rates</h3>
<div class="forms-container">
    <form action="/" method="POST" class="container">
        <label for="from_currency">Convert from:</label>
        <input type="text" id="from_currency_input" name="from_currency" list="from_currency_list" placeholder="Type or select currency" required>
        <datalist id="from_currency_list">
            {% for currency in currencies %}
            <option value="{{ currency }}">{{ currency }}</option>
            {% endfor %}
        </datalist>

        <label for="to_currency">Convert to:</label>
        <input type="text" id="to_currency_input" name="to_currency" list="to_currency_list" placeholder="Type or select currency" required>
        <datalist id="to_currency_list">
            {% for currency in currencies %}
            <option value="{{ currency }}">{{ currency }}</option>
            {% endfor %}
        </datalist>
        
        <label for="amount">Amount:</label>
        <input type="number" id="amount" name="amount" step="any" required>

        <input type="submit" value="Convert">
    </form>
</div>

{% if from_currency and to_currency and amount and converted_amount %}
    <div class="result">
        <p>{{ amount }} {{ from_currency }} = {{ converted_amount }} {{ to_currency }}</p>
    </div>
{% endif %}


    {% endblock %}
